<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="booklist">

    </div>
  
    <h3>Add a book</h3>
    <input class="tit" type="text" placeholder="Title">
    <input class="aut" type="text" placeholder="Author">
    <input class="pri" type="text" placeholder="Price">
    <button class="ex" type="button">submit</button>
  

    
    <script src="public/JS/index.js"></script>
</body>
</html>