<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/Users/login-signup.css">
  <title>Login</title>
  </head>
  <body>
    <section class="form-container">
      
    <div class="wrapper">
      
  <form class="form login" action="/loginform" method="post">
     <h3 class="form-title">Login</h3>
  <label for="name">
  Enter your username</label>
  <br>
  <input class="form-input" type="text" name="username" placeholder="Username"><br>
  <label for="password">
  Enter your password
  </label>
  <br>
  <input class="form-input" type="password" name="password" placeholder="Password"><br>
  <button class="submit-btn" type="submit">Login</button>
  </form>
  <p>
  Don't have an account?
  </p>
  <a href="/signup">Sign Up</a>
    </div>
    </section>
  </body>
  </html>